/* =========================
   CARDS
========================= */
.project-card {
  background: var(--color-primary-active);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-lg);

  transition: var(--transition-normal);
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow-lg);
}

/* IMAGE */
.project-image img {
  width: 100%;
  height: 180px;

  object-fit: cover;

  display: block;
}

/* CONTENT */
.project-content {
  padding: var(--space-2);
}

/* TITLE ROW */
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
}

/* =========================
   TAGS
========================= */
.tag-group {
  display: flex;
  flex-wrap: wrap;

  gap: var(--space-1);

  margin-top: var(--space-2);
}

.tag {
  display: inline-flex;
  align-items: center;

  padding: 0.35rem 0.75rem;

  border-radius: var(--radius-full);

  background: var(--color-bg);
}

.tagbutton {
  background: var(--color-secondary);
  border: none;
  padding: 0.35rem 2rem;
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: var(--transition-normal);
}

.tagbutton:hover {
  background: var(--color-thirdary);
  color: var(--color-bg);
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb; /* light gray */
  margin: 1rem 0;
}