/* =========================
   IMPORTS
========================= */
@import "tailwindcss";

/* =========================
   GLOBAL RESET
========================= */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-family);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: var(--line-height-normal);
}

/* =========================
   TYPOGRAPHY
========================= */
h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-weight-bold);
  margin-top: var(--space-3);
  margin-bottom: var(--space-2);
}

h2 {
  font-size: var(--font-h2);
  margin-top: var(--space-3);
  margin-bottom: var(--space-2);
}

h3 {
  font-size: var(--font-h3);
  color: var(--color-primary);
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

p {
  font-size: var(--font-body);
}

/* =========================
   LINKS
========================= */
a {
  color: inherit;
  text-decoration: none;
}

/* =========================
   FOOTER
========================= */
footer {
  background: var(--color-primary-active);
}

/* =========================
   CARDS
========================= */
.project-card {
  background: var(--color-primary-active);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-lg);

  transition: var(--transition-normal);
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow-lg);
}

/* IMAGE */
.project-image img {
  width: 100%;
  height: 180px;

  object-fit: cover;

  display: block;
}

/* CONTENT */
.project-content {
  padding: var(--space-2);
}

/* TITLE ROW */
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
}

/* =========================
   TAGS
========================= */
.tag-group {
  display: flex;
  flex-wrap: wrap;

  gap: var(--space-1);

  margin-top: var(--space-2);
}

.tag {
  display: inline-flex;
  align-items: center;

  padding: 0.35rem 0.75rem;

  border-radius: var(--radius-full);

  background: var(--color-bg);
}

.tagbutton {
  background: var(--color-secondary);
  border: none;
  padding: 0.35rem 2rem;
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: var(--transition-normal);
}

.tagbutton:hover {
  background: var(--color-thirdary);
  color: var(--color-bg);
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb; /* light gray */
  margin: 1rem 0;
}

/* =========================
   TEXT BUTTONS 
========================= */
.logo {
  font-size: var(--font-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  text-decoration: none;
}

.logo:hover {
  color: var(--color-primary-active);
}

.navLinks {
  display: flex;
  gap: var(--space-4);
}

.navLink {
  color: var(--color-text);
  text-decoration: none;
  transition: var(--transition-normal);
}

.navLink:hover {
  color: var(--color-primary);
}

.active {
  color: var(--color-primary);
}

/* =========================
   BUTTONS
========================= */
button {
  font: inherit;
  cursor: pointer;
  border: none;
}

/* BACK BUTTON */
.back-button {
  background: none;

  font-size: var(--font-body);
  color: var(--color-primary);
}

.primary-button {
  background: var(--color-primary);
  color: var(--color-bg);

  margin-top: var(--space-4);
  border-radius: var(--radius-lg);

  padding: var(--space-2) var(--space-4);
  transition: var(--transition-normal);
}

.primary-button:hover {
  background: var(--color-primary-active);
}